/* stylelint-disable comment-empty-line-before */
/* stylelint-disable selector-class-pattern */

.burger-trigger {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[15px] h-[10px] cursor-pointer;

  span {
    @apply absolute block w-full h-[2px] left-1/2 -translate-x-1/2 bg-blue-800;

    &:nth-child(1) {
      @apply top-0;
    }

    &:nth-child(2) {
      @apply top-1/2 -translate-y-1/2;
    }

    &:nth-child(3) {
      @apply bottom-0;
    }
  }

  &.--flat {
    span {
      &:nth-child(1) {
        transition: all 0.3s 0.3s, transform 0.3s;
      }

      &:nth-child(2) {
        transition: all 0.3s;
      }

      &:nth-child(3) {
        transition: all 0.3s 0.3s, transform 0.3s;
      }
    }

    body.menu-shown & {
      span {
        &:nth-child(1) {
          @apply top-1/2 rotate-45 -translate-y-1/2;

          transition: all 0.3s, transform 0.3s 0.3s;
        }

        &:nth-child(2) {
          @apply opacity-0;
        }

        &:nth-child(3) {
          @apply bottom-1/2 -rotate-45 translate-y-1/2;

          transition: all 0.3s, transform 0.3s 0.3s;
        }
      }
    }
  }
}
